<div class="container">
    <mat-horizontal-stepper>
        <mat-step>
            <ng-template matStepLabel>Motivo</ng-template>
            <div class="box-options">
                <app-reason-form></app-reason-form>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Producto</ng-template>
            <div class="box-options">
                <app-products-form></app-products-form>
                <div>
                    <button mat-stroked-button matStepperPrevious>Anterior</button>
                    <button mat-stroked-button matStepperNext>Siguiente</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Gestión Requerida</ng-template>
            <div class="box-options">
                <app-request-form></app-request-form>
                <div>
                    <button mat-stroked-button matStepperPrevious>Anterior</button>
                    <button mat-stroked-button matStepperNext>Siguiente</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Resultado</ng-template>
            <div class="box-options">
                <app-result-auth></app-result-auth>
                <div>
                    <button mat-stroked-button >Nueva llamada</button>
                </div>
            </div>
        </mat-step>
        <div>
            <button mat-stroked-button matStepperPrevious>Back</button>
        </div>
    </mat-horizontal-stepper>
</div>