<div class="container">
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="formReason" errorMessage="faltan datos">
            <ng-template matStepLabel>Motivo</ng-template>
            <div class="box-options">
                <app-reason-form (send)="receiveReason($event)"></app-reason-form>
            </div>
        </mat-step>
        <mat-step [stepControl]="formProduct">
            <ng-template matStepLabel>Producto</ng-template>
            <div class="box-options">
                <app-products-form [reason]="form.reason" (receiveProduct)="receivedProduct($event)"></app-products-form>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Gestión Requerida</ng-template>
            <div class="box-options">
                <app-request-form [typeProduct]="form.typeProduct" [reason]="form.reason" (receiveRequest)="receivedRequest($event)"></app-request-form>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Resultado</ng-template>
            <div class="box-options">
                <app-result-auth [AuthReq]="form.authReq" [AuthResult]="form.resultAuth"></app-result-auth>
            </div>
        </mat-step>
        <div>
            <button mat-stroked-button matStepperPrevious>Back</button>
        </div>
    </mat-horizontal-stepper>
</div>