<form [formGroup]="formRequest">
    <div class="row center-xs">
        <div class="col-12">
            <h2>¿Que se requiere hacer?</h2>
        </div>
        <div class="col-xs-12">
            <h3>{{ reason }}</h3>
                <mat-form-field appearance="fill">
                    <mat-label>{{ reason }}</mat-label>
                    <mat-select formControlName="request" name="request">                    
                        <div [ngSwitch]="typeProduct">
                            <div *ngSwitchCase="'Cuentas'">
                                <div *ngIf="reason === 'Requerimiento'">
                                    <mat-option *ngFor="let requestAccount of requestsAccount" [value]="requestAccount.name">
                                        {{ requestAccount.name }}
                                    </mat-option>                                                    
                                </div>
                                <div *ngIf="reason === 'Bloqueo o Desbloqueo'">
                                    <mat-option *ngFor="let lockUnlock of lockUnlocks" [value]="lockUnlock">
                                        {{ lockUnlock }}
                                    </mat-option>                                                    
                                </div>
                            </div>
                        </div>                    
                    </mat-select>
                </mat-form-field>
        </div> 
        <div class="col-xs-12">
            <button mat-stroked-button matStepperPrevious (click)="sendRequest()">Anterior</button>
            <button mat-stroked-button matStepperNext (click)="sendRequest()">Siguiente</button>
        </div>     
    </div>
</form>