<form [formGroup]="formRequest">
    <div class="row center-xs">
        <div class="col-12">
            <h2>¿Que se requiere hacer?</h2>
        </div>
        <div class="col-xs-12">
            <h3>Requerimiento</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Requerimiento</mat-label>
                    <mat-select formControlName="request" name="request">                    
                        <div [ngSwitch]="typeProduct">
                            <div *ngSwitchCase="'Cuentas'">
                                <mat-option *ngFor="let requestAccount of requestsAccount" [value]="requestAccount.name">
                                    {{ requestAccount.name }}
                                </mat-option>                                                    
                            </div>
                        </div>                    
                    </mat-select>
                </mat-form-field>
        </div> 
        <div class="col-xs-12">
            <button mat-stroked-button matStepperPrevious (click)="sendRequest()">Anterior</button>
            <button mat-stroked-button matStepperNext (click)="sendRequest()">Siguiente</button>
        </div>     
    </div>
</form>