<form [formGroup]="formRequest">
    <div class="row center-xs">
        <div class="col-12">
            <h2>¿Que se requiere hacer?</h2>
        </div>
        <div class="col-xs-12">
            <h3>{{ formCall.reason }}</h3>
                <mat-form-field appearance="fill">
                    <mat-label>{{ formCall.reason }}</mat-label>                                     
                    <mat-select [ngSwitch]="typeProduct" formControlName="request" name="request">
                        <div *ngSwitchCase="'Cuentas'">
                            <div *ngIf="formCall.reason === 'Requerimiento'">
                                <div *ngFor="let requestAccount of requestsAccount; " >
                                    <div *ngFor="let account of accounts">
                                        <div *ngIf="formCall.product === account.name">
                                            <div *ngFor="let request of account.requests">
                                                <mat-option *ngIf="request === requestAccount.id" [value]="requestAccount.name">                                                        
                                                        {{ requestAccount.name }}
                                                </mat-option>
                                            </div>
                                        </div>
                                    </div>                                        
                                </div>                                                    
                            </div>
                            <div *ngIf="formCall.reason === 'Bloqueo o Desbloqueo'">
                                <div *ngFor="let lockUnlock of lockUnlocks">
                                        <div *ngFor="let account of accounts">
                                            <div *ngIf="formCall.product === account.name">
                                                <div *ngFor="let request of account.requests">
                                                    <mat-option *ngIf="request === lockUnlock.id" [value]="lockUnlock.name">                                                        
                                                            {{ lockUnlock.name }}
                                                    </mat-option>
                                                </div>
                                            </div>
                                        </div>
                                </div>                                                    
                            </div>
                        </div>
                    </mat-select>                    
                    
                </mat-form-field>
        </div> 
        <div class="col-xs-12">
            <button mat-stroked-button matStepperPrevious (click)="sendRequest()">Anterior</button>
            <button mat-stroked-button matStepperNext (click)="sendRequest()">Siguiente</button>
        </div>     
    </div>
</form>