<form [formGroup]="formProduct">
    <div class="row center-xs">
        <div class="col-12">
            <h2>¿Sobre que producto?</h2>
        </div>
        <div class="col-xs-12">
            <h3>Tipo de Producto</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Producto</mat-label>
                    <mat-select formControlName="typeProduct" name="products">
                        <mat-option *ngFor="let typeProduct of typeProducts" [value]="typeProduct.name">
                            {{ typeProduct.name }}
                        </mat-option>                        
                    </mat-select>
                </mat-form-field>
        </div>      
        <div *ngIf="formProduct.get('typeProduct')?.valid" class="col-xs-12">
            <h3>Tipo de {{ formProduct.get('typeProduct')?.value }}</h3>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de {{ formProduct.get('typeProduct')?.value }}</mat-label>
                        <mat-select formControlName="product" name="products">
                            <div [ngSwitch]="formProduct.get('typeProduct')?.value">
                                <div *ngSwitchCase="'Cuentas'">
                                    <mat-option *ngFor="let account of accounts" [value]="account.name">
                                        {{ account.name }}
                                    </mat-option> 
                                </div>
                                <div *ngSwitchCase="'Creditos'">
                                    <mat-option *ngFor="let credit of credits" [value]="credit.name">
                                        {{ credit.name }}
                                    </mat-option> 
                                </div>
                            </div>                                                   
                        </mat-select>
                    </mat-form-field>
                </div>
        <div class="col-xs-12">
            <button mat-stroked-button matStepperPrevious>Anterior</button>
            <button mat-stroked-button matStepperNext (click)="sendProduct()">Siguiente</button>
        </div>
    </div>    
</form>